.episode-item {
  display: flex;
  margin-bottom: 10px;
}

.episode-item__meta {
  margin: 0 10px;
  max-width: 60%;            
}

.episode-item__title {
  display: -webkit-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
  margin: 0;
}

.episode-item__description {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  margin: 0;
}

.episode-item__download-container {
  display: flex;
  justify-content: center;
  align-items: center;
}