@import './component/progress-bar.less';
@import './component/timestamp.less';
@import './component/play-pause-button.less';

.video-player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s opacity;
}

.video-player--hidden {
  opacity: 0;
  cursor: none;
}